mat-form-field{
  width: 100%;
  //margin: 10%;
}

mat-radio-button{
  margin-top: 20px;
  margin-left: 10px;
}

mat-checkbox{
  margin-top: 20px;
  margin-left: 10px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

img {
  margin: 10px;
}
